.header {
  background: var(--lavander-gradient);
  text-align: center;

  .pokemonName {
    color: var(--white-color);
    padding-block: 0.8rem;
  }

  .pokemonId {
    color: var(--white-color);
    padding-bottom: 0.8rem;
  }
}
